In [2]:
import pandas as pd

In [3]:
# importing data set
df = pd.read_excel(r'D:\College Notes\8th Sem\mysql practice\Data Cleaning\Customer Call List.xlsx')

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\kiran\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\kiran\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [5]:
# gives total number of duplicated rows 
df.duplicated().sum()

1

In [6]:
# to drop or dlt the duplicated values
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [7]:
# drop some specific columns fromt the data set and here axis=1 represents the columns
df =  df.drop(['Not_Useful_Column'], axis = 1)

In [8]:
# there were some unwanted characters in the last_name col that need to be deleted, so we use strip that help to dlt the white space but in this case 
#we are specifying what needs to be deleted
df["Last_Name"] = df["Last_Name"].str.strip('...')
df["Last_Name"] = df["Last_Name"].str.strip('/')
df["Last_Name"] = df["Last_Name"].str.strip('_')
 # OR

In [9]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [10]:
pd.isnull(df).sum()

CustomerID         0
First_Name         0
Last_Name          1
Phone_Number       2
Address            0
Paying Customer    0
Do_Not_Contact     4
dtype: int64

In [31]:
# here we need to make all the numubers in one format where at first we are replacing that characters that are not in a-zA-Z0-9 into nothing. Then we are 
# change all into string, after which we are puttong - - - after each 3 numbers to make all in same format. At last we replace the Na or nan value with empty row cells

df['Phone_Number']=df['Phone_Number'].str.replace('[^a-zA-Z0-9]', '', regex=True)
df['Phone_Number']=df['Phone_Number'].apply(lambda x: x[0:3] + '_' + x[3:6] + '_' + x[6:10])
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))
df['Phone_Number']=df['Phone_Number'].str.replace('nan--','')
df['Phone_Number']=df['Phone_Number'].str.replace('Na--','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123_545_5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123_643_9775,93 West Main Street,No,Yes
2,1003,Walter,White,__,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123_543_2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876_678_3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304_762_2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,__,1209 South Street,No,No
7,1008,Sherlock,Holmes,876_678_3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,__,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123_545_5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,__,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,__,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123_543_2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876_678_3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304_762_2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123_545_5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123_643_9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,__,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,__,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876_678_3469,"910 Tatooine Road, Tatooine",Yes,N

In [51]:
df['Phone_Number']=df['Phone_Number'].str.replace('__','')

In [50]:
# Here we are spliting the Address and saving into new diff columns
df[["Street_Address","States","ZipCode"]] = df["Address"].str.split(',',n=2, expand=True)

In [54]:
df["Paying Customer"]=df["Paying Customer"].str.replace('Yes','Y')
df["Paying Customer"]=df["Paying Customer"].str.replace('No','N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,States,ZipCode
0,1001,Frodo,Baggins,123_545_5421,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123_643_9775,93 West Main Street,N,Yes,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123_543_2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876_678_3469,123 Dragons Road,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,304_762_2467,768 City Parkway,Y,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,N,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,876_678_3469,98 Clue Drive,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123_545_5421,"25th Main Street, New York",Y,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123_543_2345,2039 Main Street,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876_678_3469,343 City Parkway,Y,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,304_762_2467,214 HR Avenue,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,123_545_5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123_643_9775,"121 Paper Avenue, Pennsylvania",Y,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,876_678_3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None

In [78]:
df["Do_Not_Contact"]=df["Do_Not_Contact"].str.replace('Yes','Y')
df["Do_Not_Contact"]=df["Do_Not_Contact"].str.replace('No','N')

In [77]:
# this simply replaces the NaN value to empty
df = df.fillna('')

In [84]:
# with the help of loop and the index we are looking if Donotcontact is yes then we are delecting the entire row of that individual
for x in df.index:
    if df.loc[x,'Do_Not_Contact'] == 'Y':
        df.drop(x,inplace=True)

In [87]:
for x in df.index:
    if df.loc[x,'Phone_Number'] == '':
        df.drop(x,inplace=True)

In [101]:
df = df.drop(['ZipCode'],axis=1)

In [103]:
# here we are replacing the old index with the new one 
df.reset_index(drop=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,States
0,1001,Frodo,Baggins,123_545_5421,Y,N,123 Shire Lane,Shire
1,1005,Jon,Snow,876_678_3469,Y,N,123 Dragons Road,
2,1008,Sherlock,Holmes,876_678_3469,N,N,98 Clue Drive,
3,1010,Peter,Parker,123_545_5421,Y,N,25th Main Street,New York
4,1013,Don,Draper,123_543_2345,Y,N,2039 Main Street,
5,1014,Leslie,Knope,876_678_3469,Y,N,343 City Parkway,
6,1015,Toby,Flenderson,304_762_2467,N,N,214 HR Avenue,
7,1016,Ron,Weasley,123_545_5421,N,N,2395 Hogwarts Avenue,
8,1017,Michael,Scott,123_643_9775,Y,N,121 Paper Avenue,Pennsylvania
9,1020,Anakin,Skywalker,876_678_3469,Y,N,910 Tatooine Road,Tatooine